

<%= form_with model: service, scope: :article, local: true do |f| %>

  <div class="form-inputs">
    <%= f.text_field :title , placeholder: "Enter the name of the service", class: "form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-1"%>
  </div>

  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Heading</th>
        <th>Image Url</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody class='fields'>
      <%= f.fields_for :blocks do |builder| %>
        <%= render 'block', f: builder %>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions">
    <%= f.submit :save , class: 'btn btn-secondary'%>
    <%= link_to_add_row('Add Block', f, :blocks, class: 'btn btn-primary') %>
  </div>
<% end %>