<%= render "layouts/header"%>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Available services</h3>
      <%= form_with url: new_service_path, method: "POST" do |form| %>
        <ul>
          <%@user.business.not_enrolled.each do |service| %>
            <li>
              <label class="service_ids-select"> 
                <%= check_box_tag 'service_ids[]', service.id -%>
                <%=service.title%>
              </label>
            </li>
          <% end %>
          <%= form.submit%>
        </ul>
      <% end %> 
    </div>

    <div class="col-6">
      <h3>Enrolled Services</h3>
       <%= form_with url: new_service_path, method: "PATCH" do |form| %>
      <ul>
        <%@user.business.services.each do |service| %>
          <li>
            <label class="service_ids-select"> 
              <%= check_box_tag 'service_ids[]', service.id -%>
              <%= service.title %>
            </label>
          </li>
        <% end %>
        <%= form.submit%>
        </ul>
      <% end %> 
    </div>
</div>
</div>

