<%= render "layouts/nav"%>
<%= render "layouts/header"%>
<strong>Business Name</strong>
<%=@business.name%>
<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
<div class="row">
<div class="col-6">
    <ul>
    <%@business.services.each do |service| %>
    <li>
      <%= link_to "#{service.title} | #{service.type}", service%>
      </li>
    <% end %>
    </ul>
  </div>
  <div class="col-6">
      <ul>
    <%@business.cities.each do |city| %>
    <li>
      <%= link_to "#{city.name} | #{city.county}, #{city.state}", city%>
      </li>
    <% end %>
    </ul>
  </div>
</div>