<%= render "layouts/nav"%>
<%= render "layouts/header"%>
<%= content_for(:title, "#{@service.title} #{@city.name}, #{@city.state}") %>
<%= content_for(:meta_description, "#{@service.title} #{@city.name}, #{@city.state}") %>
<%= content_for(:meta_keywords, "#{@service.title} #{@city.name}, #{@city.state}") %>

<div class="container">
  <h1><%= "#{@service.title} #{@city.name}, #{@city.state}" %></h1>
  
  <%@service.blocks.each do |block|%>
    <h2><%=muxer(block.heading, @city)%></h2>
    <div class="muxed"><%=raw muxer(block.text.body.to_rendered_html_with_layout.html_safe, @city)%></div>
    <hr>
  <% end %>
</div>