<body>
    <h1>NEW LEAD FOR <%= @lead.business.name %></h1>
    <p>
      Customer Name: <%= @lead.f_name  %>.<br>
      Customer Email: <%= @lead.email  %>.<br>
      Customer Phone: <%= @lead.phone  %>.<br>
      Customer Address: <%= "<br>Street: #{@lead.street_1} <br> City: #{@lead.city}, NJ #{@lead.zip}"  %>.<br>
      Content: <%=@lead.content%><br>
    
      <br>
    </p>
    <p>
    LEADS BITCH!
    </p>
  </body>